################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FormulaOneConsole/obj
/FormulaOneConsole/bin/Debug/net8.0
.vs